{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "impliedStrict": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "browser": true
    },
    "globals": {
        "module": true
    },
    "extends": "@fiverr/fiverr",
    "plugins": [
        "react"
    ],
    "rules": {

    }
}